html,
body {
	height: 100%;
}

/* Intro page styles*/

.header-intro {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.intro-main-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-left: 10%;
	padding-right: 10%;
}

.text {
	background-color: #7c1ff3;
	color: white;
	text-align: center;
	padding-left: 30%;
	padding-right: 30%;
	padding-bottom: 5%;
	display: block;
	justify-content: center;
}

.api-data-about-title {
	padding-top: 5%;
	padding-bottom: 2%;
}

.api-data-about-text {
	line-height: 2;
}

.card-group {
	padding-left: 4rem;
	padding-right: 4rem;
	transform: translateY(-15%);
}

@media only screen and (max-width: 1000px) {
	.card-group {
		margin: auto;
		padding: 0px;
		display: inline;
	}
	.text {
		padding-left: 1%;
		padding-right: 1%;
	}

	.intro-main-img {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		padding-left: 5%;
		padding-right: 5%;
	}
}

.card {
	border: 2px solid #eee;
	padding: 1rem;
}
.card h5 {
	color: #7c1ff3;
	padding-bottom: 1rem;
}

.card-body {
	color: black;
	text-align: center;
}

.card-img {
	margin-left: auto;
	margin-right: auto;
	width: 15%;
}
/* Dev page styles*/

.api-data-dev-title {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

.dev-main-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 4%;
}

.progress-bar {
	background-color: #7c1ff3;
}

.card-dev {
	padding: 2rem;
}
.card-dev h3 {
	color: #7c1ff3;
	padding-bottom: 1rem;
}

.card-dev-body {
	color: black;
	text-align: center;
}

.card-dev-img {
	width: 25%;
	text-align: left;
	float: left;
	padding-right: 1rem;
}

.card-dev-img-mac {
	width: 45%;
	text-align: left;
	float: left;
	padding-right: 5rem;
}

.dev-lang {
	text-align: left;
	padding-bottom: 4rem;
}
/* Dev projects styles*/
